@page
@model IndexModel

@{
    ViewData["Title"] = "Opdrachten";
}

<div class="d-flex justify-content-center page-title">
    <div class="align-self-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<section class="karus_tasks">

    <div class="row g-4 row-cols-1 row-cols-lg-2">

        @foreach (var opdrachtItem in Model.OpdrachtItems ?? [])
        {
            <div class="col">
                <div class="card task">
                    <div class="row">
                        <div class="col-4 col-md-3 col-lg-4">
                            @if (!string.IsNullOrEmpty(opdrachtItem.CardImageFilename))
                            {
                                <img src="/data/Opdrachten/@opdrachtItem.CardImageFilename" class="card-img img-fluid p-4" style="fill: red;" alt="@opdrachtItem.Name">
                            }
                        </div>
                        <div class="col-8 col-md-9 col-lg-8" style="margin-left: -2.6rem;">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/@opdrachtItem.NavigationUri" class="stretched-link" title="@opdrachtItem.Name">@opdrachtItem.Name</a></h5>
                                @if (!string.IsNullOrEmpty(opdrachtItem.Description))
                                {
                                    <p class="card-text">@opdrachtItem.Description</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

</section>